body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: black;
    height: 100vh;
}

.confetti-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.confetti{
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: white;
    opacity: 1;
    transform-origin: top;
    animation: fall 2s infinite ease-in-out;
}

@keyframes fall{
    0%{
        transform: translateY(-100px) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translateY(100vh) rotate(360deg);
        opacity: 0.2;
    }
}

.confetti:nth-child(1) { left: 10%; animation-delay: 0s; background-color: #ff6b6b; }
.confetti:nth-child(2) { right: 20%; animation-delay: 0.1s; background-color: #feca57; }
.confetti:nth-child(3) { left: 30%; animation-delay: 0.2s; background-color: #1dd1a1; }
.confetti:nth-child(4) { right: 40%; animation-delay: 0.3s; background-color: #5f27cd; }
.confetti:nth-child(5) { left: 50%; animation-delay: 0.4s; background-color: #54a0ff; }
.confetti:nth-child(6) { right: 60%; animation-delay: 0.5s; background-color: #ff9ff3; }
.confetti:nth-child(7) { left: 70%; animation-delay: 0.6s; background-color: #48dbfb; }
.confetti:nth-child(8) { right: 80%; animation-delay: 0.7s; background-color: #1dd1a1; }
.confetti:nth-child(9) { left: 90%; animation-delay: 0.8s; background-color: #ee5253; }
.confetti:nth-child(10) { right: 95%; animation-delay: 0.9s; background-color: #ff6b6b; }
.confetti:nth-child(11) { left: 11%; animation-delay: 1s; background-color: #0c8d42; }
.confetti:nth-child(12) { left: 21%; animation-delay: 1.1s; background-color: #105ead; }
.confetti:nth-child(13) { left: 31%; animation-delay: 1.2s; background-color: #e11414; }
.confetti:nth-child(14) { right: 41%; animation-delay: 2.3s; background-color: #c28b16; }
.confetti:nth-child(15) { left: 51%; animation-delay: 1.4s; background-color: #21ffc4; }
.confetti:nth-child(16) { right: 61%; animation-delay: 1.5s; background-color: #3e0ba3; }
.confetti:nth-child(17) { left: 71%; animation-delay: 1.6s; background-color: #164c8f; }
.confetti:nth-child(18) { right: 81%; animation-delay: 1.6s; background-color: #f10cd2; }
.confetti:nth-child(19) { left: 91%; animation-delay: 1.8s; background-color: #37727f; }
.confetti:nth-child(20) { right: 12%; animation-delay: 1.9s; background-color: #0bfdbd; }
.confetti:nth-child(21) { left: 22%; animation-delay: 2s; background-color: #790606; }
.confetti:nth-child(22) { right: 32%; animation-delay: 0.9s; background-color: #bb1515;}
.confetti:nth-child(23) { left: 42%; animation-delay: 0.1s; background-color: #d20000; }
.confetti:nth-child(24) { left: 52%; animation-delay: 0.2s; background-color: #c79b3b; }
.confetti:nth-child(25) { right: 62%; animation-delay: 0.3s; background-color: #01d29b; }
.confetti:nth-child(26) { left: 72%; animation-delay: 0.4s; background-color: #5406f0; }
.confetti:nth-child(27) { left: 82%; animation-delay: 0.5s; background-color: #54a0ff; }
.confetti:nth-child(28) { right: 92%; animation-delay: 0.6s; background-color: #5d0051;}
.confetti:nth-child(29) { left: 13%; animation-delay: 0.7s; background-color: #3296ac; }
.confetti:nth-child(30) { right: 23%; animation-delay: 0.8s; background-color: #1dd1a1; }
.confetti:nth-child(31) { left: 33%; animation-delay: 0.9s; background-color: #e33838; }
.confetti:nth-child(32) { left: 43%; animation-delay: 1s; background-color: #e31111; }
.confetti:nth-child(33) { left: 53%; animation-delay: 1.1s; background-color: #560101; }
.confetti:nth-child(34) { left: 63%; animation-delay: 1.2s; background-color: #ffbb2a; }
.confetti:nth-child(35) { left: 73%; animation-delay: 1.3s; background-color: #3dfbc9; }
.confetti:nth-child(36) { right: 83%; animation-delay: 1.4s; background-color: #7d46ec; }
.confetti:nth-child(37) { left: 93%; animation-delay: 1.5s; background-color: #137dff; }
.confetti:nth-child(38) { left: 14%; animation-delay: 1.6s; background-color: #ff9ff3; }
.confetti:nth-child(39) { left: 24%; animation-delay: 1.7s; background-color: #48dbfb; }
.confetti:nth-child(40) { right: 34%; animation-delay: 1.8s; background-color: #1dd1a1; }
.confetti:nth-child(41) { left: 44%; animation-delay: 1.9s; background-color: #ee5253; }
.confetti:nth-child(42) { right: 54%; animation-delay: 2s; background-color: #ff6b6b; }
.confetti:nth-child(42) { left: 64%; animation-delay: 0s; background-color: #ff6b6b; }
.confetti:nth-child(43) { right: 74%; animation-delay: 0.1s; background-color: #feca57; }
.confetti:nth-child(44) { left: 84%; animation-delay: 0.2s; background-color: #1dd1a1; }
.confetti:nth-child(45) { right: 94%; animation-delay: 0.3s; background-color: #5500ff; }
.confetti:nth-child(46) { left: 15%; animation-delay: 0.4s; background-color: #54a0ff; }
.confetti:nth-child(47) { right: 25%; animation-delay: 0.5s; background-color: #da24c2; }
.confetti:nth-child(48) { left: 35%; animation-delay: 0.6s; background-color: #48dbfb; }
.confetti:nth-child(49) { right: 45%; animation-delay: 0.7s; background-color: #007b5a; }
.confetti:nth-child(50) { left: 55%; animation-delay: 0.8s; background-color: #ee5253; }
.confetti:nth-child(51) { right: 65%; animation-delay: 0.9s; background-color: #ff6b6b; }
.confetti:nth-child(52) { left: 75%; animation-delay: 1s; background-color: #ff6b6b; }
.confetti:nth-child(53) { right: 85%; animation-delay: 1.1s; background-color: #feca57; }
.confetti:nth-child(54) { left: 95%; animation-delay: 1.2s; background-color: #02ffbb; }
.confetti:nth-child(55) { left: 16%; animation-delay: 1.3s; background-color: #5f27cd; }
.confetti:nth-child(56) { right: 26%; animation-delay: 1.4s; background-color: #1a5296; }
.confetti:nth-child(57) { left: 36%; animation-delay: 1.5s; background-color: #78226d; }
.confetti:nth-child(58) { left: 46%; animation-delay: 1.6s; background-color: #136477; }
.confetti:nth-child(59) { left: 56%; animation-delay: 1.7s; background-color: #00ffbb; }
.confetti:nth-child(60) { left: 76%; animation-delay: 1.8s; background-color: #980606; }

